.clsPageBody {
	background-color : #99CCFF;
	color : Black;
}

.clsPageHeaderMenu {
	background-color : #000099;
	color : #FFFFCC;
}

.clsMainMenuTable {
	background-color : Lime;
}

.clsMainMenuTableRow {
	background-color : #000066;
	color : #F8F8FF;
	font-weight : bold;
	font-variant : normal;
}

.clsMainMenu {
	color: #F5F5F5;
	text-decoration : none;
	font-weight : bold;
	background-color : #000066;
}
a.clsMainMenu:hover { 
		color: Black;
		background-color: #F5F5F5;
} 
a.clsMainMenu {
		color: #F5F5F5;
		background-color: #000066;
}

.clsHeaderDataTableRow {
	background-color : #000066;
	color : #F8F8FF;
	font-weight : bold;
	font-variant : normal;
	text-align : center;
}

.clsHeaderDataTableCell {
	color : #F8F8FF;
	font-weight : bold;
	font-variant : normal;
	text-align : center;
}

.clsSearchDataTableRow {
	background-color : #000066;
	color : #FFFFCC;
	font-weight : bold;
	font-variant : normal;
	text-align : left;
}

.clsEvenDataTableRow {
	background-color : #F0F8FF;
	color : Black;
	text-align : left;
}

.clsOddDataTableRow {
	background-color : #E0FFFF;
	color : Black;
	text-align : left;
}

.clsInputStyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal;
}

.clsSelectStyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold;
}

.clsButtonStyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold;
}

BODY, P, UL, LI {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; }

TD {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 8pt}

H1 {
  font-size : 20pt;  font-weight : bold;  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
H4 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt; font-style: italic; color: #666666}
H5 {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:8pt; color: #000000}

.xmp { border-width:1pt; border-style:solid; border-color:#999999; }

A {
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
}

.prodTableHeader {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 8pt; text-align : center; font-weight : bold; background-color : #F7A629; color : #FFFFFF}
.prodTableCell {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 8pt}
