<Server port="8005" shutdown="SHUTDOWN" debug="0">

  <Service name="Tomcat-Standalone">

    <Connector 
               port="80" minProcessors="5" maxProcessors="75"
               acceptCount="10" debug="0"/>

    <Engine name="Standalone" defaultHost="localhost" debug="0">
      <Logger className="org.apache.catalina.logger.FileLogger"
             prefix="dbforms-junit." suffix=".log"  timestamp="true"/>
      <Host name="localhost" debug="1" appBase="webapps" unpackWARs="true">
      </Host>
    </Engine>

  </Service>

</Server>
