<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>

    <filter>
        <filter-name>FilterRedirector</filter-name>
        <filter-class>org.apache.cactus.server.FilterTestRedirector</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterRedirector</filter-name>
        <url-pattern>/FilterRedirector</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletRedirectorSecure</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JspRedirector</servlet-name>
        <jsp-file>/jspRedirector.jsp</jsp-file>
    </servlet>
    
<!--=========== DbForms Configuration Servlet ===========-->
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>org.dbforms.config.ConfigServlet</servlet-class>

        <!-- Uncomment to enable log4j configuration -->
        <init-param>
            <param-name>log4j.configuration</param-name>
            <param-value>/WEB-INF/conf/log4j.properties</param-value>
        </init-param>

        <!-- control how much debugging is sent.  0 is none -->
        <init-param>
            <param-name>digesterDebugLevel</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
                <param-name>dbformsConfig</param-name>
                <param-value>/WEB-INF/conf/dbforms-config.xml</param-value>
        </init-param>       
        <init-param>
            <param-name>dbformsErrors</param-name>
            <param-value>/WEB-INF/conf/dbforms-errors.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validation</param-name>
            <param-value>/WEB-INF/conf/validation.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validator-rules</param-name>
            <param-value>/WEB-INF/conf/validator-rules.xml</param-value>
        </init-param>
        <init-param>
            <param-name>resourceBundle</param-name>
            <param-value>ApplicationResources</param-value>
        </init-param>        

        <load-on-startup>1</load-on-startup>
    </servlet>


    <!--=========== Servlet Mapping =====================-->



    <!-- Authentication -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecurityRestriction</web-resource-name>
            <description>Protect the Cactus redirector servlet.</description>
            <url-pattern>/ServletRedirectorSecure</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Authorized Users Group</description>
            <role-name>test</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>

    <security-role>
        <description>Test role</description>
        <role-name>test</role-name>
    </security-role>

    <!-- End Authentication -->

</web-app>
