BODY
{
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY:      Arial, Helvetica;
    FONT-SIZE:        10pt;
}

/* for unvisited links */
A:link
{
    COLOR:           #213992;
    FONT-FAMILY:     Arial, Helvetica;
    FONT-SIZE:       10pt;
    TEXT-DECORATION: none;
}

/* for visited links */
A:visited
{
    COLOR:           #213992;
    FONT-FAMILY:     Arial, Helvetica;
    FONT-SIZE:       10pt;
    TEXT-DECORATION: none;
}

/* when link is clicked */
A:active
{
    COLOR:           #213992;
    FONT-FAMILY:     Arial, Helvetica;
    FONT-SIZE:       10pt;
    TEXT-DECORATION: none;
}

/* when mouse is over link */
A:hover
{
    COLOR:           #3D65F8;
    FONT-FAMILY:     Arial, Helvetica;
    FONT-SIZE:       10pt;
    TEXT-DECORATION: underline;
}







